/*banner section*/
.wp-block{
    margin-bottom: 0px;
}
.business-card-resume-slider-section .slider-section{
    margin-left: 0px;
    max-width: 100%;
}
.business-card-resume-slider-section .slider-content{
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
    left: 15%;
}
.business-card-resume-slider-section p,.business-card-resume-service-section  p{
    font-family: Open Sans;
}
.business-card-resume-slider-section h1,.business-card-resume-slider-section h2,.business-card-resume-service-section h2{
    font-family: Playfair Display;
}
.business-card-resume-slider-section h2{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 5px;
}
.business-card-resume-slider-section h2:after{
    content: '';
    width: 70px;
    height: 1px;
    background: var(--primary-color);
    margin: 2px 4px;
    display: inline-block;
}
.business-card-resume-slider-section h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-top: 0;
    margin: 0px !important;
}
.business-card-resume-slider-section p{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 31px !important;
    text-transform: uppercase;
    font-weight: 700;  
    margin: 5px !important;  
}
.business-card-resume-slider-section .slider-btn{
    display: contents;
}
.business-card-resume-slider-section .btn-section{
    margin: 0px;
    display: flex;
    gap: 0em;
}
.business-card-resume-slider-section .btn-section .wp-block-buttons{
    margin-left: 0px;
    margin-right:25px;
}
.business-card-resume-slider-section .slider-btn .has-black-background-color,.business-card-resume-service-section .wp-block-button__link{
    border-left: 1px solid #fff;
    padding: 10px;
    border-right: 1px solid #fff;
    position: relative;
    margin-left: 10px;
    font-size: 12px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0px;
    font-family: Open Sans;
}
.business-card-resume-slider-section .slider-btn .has-black-background-color:hover,.icons-section li:hover,.business-card-resume-service-section .wp-block-button__link:hover{
    color: #000 !important;
    background: var(--primary-color) !important;
}
.business-card-resume-slider-section .slider-btn .has-black-background-color:before,.business-card-resume-service-section .wp-block-button__link:before{
    content: '';
    width: 90%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.business-card-resume-slider-section .slider-btn .has-black-background-color:after,.business-card-resume-service-section .wp-block-button__link:after{
    content: '';
    width: 90%;
    height: 1px;
    position: absolute;
    background: #fff;
    bottom: 0;
    right: 0;
}
.business-card-resume-slider-section .icons-section{
    position: absolute;
    right: 5%;
    z-index: 999;
}
.business-card-resume-slider-section .icons-section ul{
    display: block;
}
.icons-section li{
    font-size: 20px;
    padding: 2px !important;
    width: 35px;
    height: 35px;
    border: 1px solid #fff !important;
    text-align: center;
    margin-bottom: 15px !important;
    border-radius: 0px;
}
.business-card-resume-service-section p,.business-card-resume-service-section h2{
    text-align: center;
}
.business-card-resume-service-section{
    background: #000;
    max-width: 100%;
    margin-top: 0px;
}
.post-section{
    gap:0em !important;
    max-width: 1250px;
}
.service-box .components-resizable-box__container{
    width: 100% !important;
    height: auto !important;
}
.business-card-resume-service-section p:before,.business-card-resume-service-section p:after{
    content: '';
    width: 70px;
    height: 1px;
    background: var(--primary-color);
    margin: 5px 16px;
    display: inline-block;
}
.business-card-resume-service-section p{
    font-weight: 400;
    font-size: 16px;
}
.business-card-resume-service-section h2{
    font-size: 32px;
    font-weight: 400;
    margin-top: 0px;
}


