/*banner section*/
.business-card-resume-slider-section .slider-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17%;
}
.business-card-resume-slider-section p,.service-section p{
    font-family: Open Sans;
}
.business-card-resume-slider-section h1,.business-card-resume-slider-section h2,.service-section h2{
    font-family: Playfair Display;
}
.business-card-resume-slider-section h2{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}
.business-card-resume-slider-section h2:after{
    content: '';
    width: 70px;
    height: 1px;
    background: var(--primary-color);
    margin: 2px 4px;
    display: inline-block;
}
.business-card-resume-slider-section h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-top: 0;
}
.business-card-resume-slider-section p{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 31px !important;
    text-transform: uppercase;
    font-weight: 700;    
}
.business-card-resume-slider-section .is-style-fill{
    margin-bottom: 0em !important;
}
.business-card-resume-slider-section .is-style-fill a{
    text-decoration: none;
}
.business-card-resume-slider-section .is-style-fill{
    display: inline-block;
}
.business-card-resume-slider-section .slider-btn a,.business-card-resume-service-section .service-btn a{
    border-left: 1px solid #fff;
    padding: 10px;
    border-right: 1px solid #fff;
    position: relative;
    margin-left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0px !important;
}
.business-card-resume-slider-section .slider-btn a:hover,.icons-section a:hover,.business-card-resume-service-section .service-btn a:hover{
    color: #000 !important;
    background: var(--primary-color) !important;
}
.business-card-resume-slider-section .slider-btn a:before,.business-card-resume-service-section .service-btn a:before{
    content: '';
    width: 90%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.business-card-resume-slider-section .slider-btn a:after,.business-card-resume-service-section .service-btn a:after{
    content: '';
    width: 90%;
    height: 1px;
    position: absolute;
    background: #fff;
    bottom: 0;
    right: 0;
}
.business-card-resume-slider-section .icons-section{
    position: absolute;
    top: 35%;
    right: 5%;
    z-index: 999;
}
.business-card-resume-slider-section .icons-section ul{
    display: block;
}
.business-card-resume-slider-section .icons-section a{
    display: block;    
    padding: 8px !important;
    width: 35px;
    height: 35px;
    border: 1px solid #fff !important;
    text-align: center;
    margin-bottom: 15px;
}
.business-card-resume-slider-section .slider-btn{
    display: contents;
}
.business-card-resume-slider-section .btn-section{
    display:flex !important;
    margin-top: 30px;
}
.business-card-resume-service-section p,.business-card-resume-service-section h2{
    text-align: center;
}
.business-card-resume-service-section p{
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.business-card-resume-service-section p:before,.business-card-resume-service-section p:after{
    content: '';
    width: 70px;
    height: 1px;
    background: var(--primary-color);
    margin: 5px 16px;
    display: inline-block;
}
.business-card-resume-service-section h2{
    font-size: 32px;
    font-weight: 400;
    padding-top: 0px;
}
.business-card-resume-service-section .post-section{
    margin-top: 40px;
    gap: 0em;
}
.business-card-resume-service-section a{
    text-decoration: none;
}
.post-section img{
    width: 100% !important;
    height: auto !important;
}
@media screen and (min-width: 320px) and (max-width: 720px){
   .business-card-resume-slider-section .slider-content{
    left: 5%;
    right: 5%;
    }
    .business-card-resume-service-section h2{
        display: block !important;
    }
    .business-card-resume-slider-section .icons-section{
        top: 50%;
        right: 7%;
    }
    .business-card-resume-slider-section .slider-btn{
        display: block;
    }
}
@media screen and (min-width: 721px) and (max-width: 768px){
    .business-card-resume-service-section .post-section .service-box {
        flex-basis: 50% !important;
    }
}


